@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: #e5a395;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    max-width: 25rem;
    box-shadow: 8px 8px;
    padding-bottom: 2rem;
    padding-top: 0.3rem;
}


li {
    border-bottom: white solid 1px;
    list-style-type: none;
    text-align: center;
    background-color: rgb(236 237 81);
    border-radius: 0.2rem;
    margin-bottom: 0.3rem;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), pointer;
}

li:hover {
    border-bottom: white solid 1px;
    list-style-type: none;
    text-align: center;
    background-color: #01cc71;
    border-radius: 0.2rem;
    margin-bottom: 0.3rem;
    text-decoration: line-through;
    text-decoration-color: tomato;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), pointer;
}

ul {
    margin-top:1rem;
    padding: 0px;
}